# question no 1 Create one variable containing  String,list,float,

In [7]:
a = "kaushal"

In [8]:
type(a)

str

In [9]:
b = [1,2,3,4]

In [10]:
type(b)

list

In [13]:
c = 4.545

In [14]:
type(c)

float

In [16]:
d = (1,2,3)

In [17]:
type(d)

tuple

In [ ]:
#question no 2 given are some variable containing data. What will be the data type of the above given variable

In [25]:
var1 = ' '

In [26]:
type(var1)

str

In [29]:
var2 = '[ DS , ML , Python]'

In [30]:
type(var2)

str

In [31]:
var3 = ['DS', 'ML','Python']

In [32]:
type(var3)

list

In [33]:
var4 = 1

In [34]:
type(var4)

int

In [ ]:
Question No 3 Explain the follwing operators using an example

In [ ]:
Arthemetic Oeprators

In [ ]:
/ Division function

In [1]:
1/2

0.5

In [15]:
"%percentage function Modulos oeprator gives the Reminder after division"

'%percentage function Modulos oeprator gives the Reminder after division'

In [14]:
5%3

2

In [ ]:
'// function tell the quotient after division

In [18]:
100//5

20

In [17]:
" ** is exponenet funtion"

' ** is power funtion'

In [21]:
2**3

8

In [ ]:
"question no 4" Create a list of length 10 of your choice containing multiple types of data. using for loop print element and its data

In [3]:
k = [1,2,3,4,5, "KK","pwskills", 10.25 , 5.45, True]

In [4]:
for i in k:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>

In [5]:
"question no 5"

'question no 5'

In [4]:
A = int(input("Enter A: "))
B = int(input("Enter B: "))
quotient = (A//B)

while A % B == 0:
            print(f"{A} is divisible by {B} exactly {quotient} times.")
            break
    
else:
    print(f"{A} is not divisible by {B}.")

Enter A:  25
Enter B:  5

25 is divisible by 5 exactly 5 times.

In [ ]:
question no 6

In [10]:
list_of_numbers = [i for i in range(1,26)]
# Iterate through the list
for number in list_of_numbers:

    # Check if the number is divisible by 3
    if number % 3 == 0:

        # Print "The number is divisible by 3"
        print("The number", number, "is divisible by 3")

    else:

        # Print "The number is not divisible by 3"
        print("The number", number, "is not divisible by 3")

The number 1 is not divisible by 3
The number 2 is not divisible by 3
The number 3 is divisible by 3
The number 4 is not divisible by 3
The number 5 is not divisible by 3
The number 6 is divisible by 3
The number 7 is not divisible by 3
The number 8 is not divisible by 3
The number 9 is divisible by 3
The number 10 is not divisible by 3
The number 11 is not divisible by 3
The number 12 is divisible by 3
The number 13 is not divisible by 3
The number 14 is not divisible by 3
The number 15 is divisible by 3
The number 16 is not divisible by 3
The number 17 is not divisible by 3
The number 18 is divisible by 3
The number 19 is not divisible by 3
The number 20 is not divisible by 3
The number 21 is divisible by 3
The number 22 is not divisible by 3
The number 23 is not divisible by 3
The number 24 is divisible by 3
The number 25 is not divisible by 3

In [3]:
"mutable & Imutable data types"

'mutable & Imutable data types'

In [ ]:
Mutable data types where in value can be changed however in imutable data type value cannot be changed

In [ ]:
for eg

In [6]:
l = [1,2,5,9,10,'kaus', 10.45]

In [7]:
l

[1, 2, 5, 9, 10, 'kaus', 10.45]

In [9]:
l[2] = 56

In [ ]:
l

[1, 2, 56, 9, 10, 'kaus', 10.45]

In [ ]:
we were able to change the no 5 to 56 so its mutable

In [14]:
k = 'kaushal'

In [15]:
k

'kaushal'

In [16]:
k[3]

's'

In [17]:
k[3] = m

NameError: name 'm' is not defined

In [ ]:
here we are getting an error hence the data is immutable

## https://github.com/kkishore81/assignment1.git